:root {
  --ff-main: 'Rubik', sans-serif;
  --soft-red: hsl(0, 94%, 66%);
  --soft-blue: hsl(231, 69%, 60%);
  --grayish-blue: hsl(229, 8%, 60%);
  --dark-blue: hsl(229, 31%, 21%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: var(--ff-main);
}
